<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../controller/publicMethod.js"></script>
    <script src="../controller/api_and_script_page.js"></script>
    <title></title>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group">
            <label for="API">API:</label>
            <select class="form-control" id="API">
              <option value="Login" selected="selected">Login</option>
              <option value="SetPoints">SetPoints</option>
              <option value="KickOut">KickOut</option>
            </select>
          </div>
          <div class="form-group field_Login "> 
            <label for="LanguageID">語系:</label> 
            <select class="form-control LanguageID" id="LanguageID"> 
            </select> 
          </div> 
          <div class="form-group"> 
            <label for="Currency">幣別:</label> 
            <select class="form-control Currency" id="Currency"> 
            </select> 
          </div> 
          <div class="form-group field_Login"> 
            <label for="GameID">遊戲名稱:</label> 
            <select class="form-control GameID" id="GameID"> 
            </select> 
          </div> 
          <div class="form-group"> 
            <label for="AgentCode">商戶代碼:</label> 
            <input class="form-control" id="AgentCode" aria-required="true" required>
          </div> 
          
          <div class="form-group"> 
            <label for="MemberAccount">帳號:</label> 
            <input class="form-control" id="MemberAccount" aria-required="true" required> 
          </div>
        
          <div class="form-group field_Login"> 
            <label for="Event">活動:</label> 
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionEvent" id="notAttend" value="notAttend" checked>
              <label class="form-check-label" for="notAttend">
                不參加
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionEvent" id="attend" value="attend">
              <label class="form-check-label" for="attend">
                參加
              </label>
              <select class="form-control" id="Event" disabled="disabled"> 
              </select>
            </div>
          </div>
          
          <div class="form-group scriptList"> 
            <label for="list">腳本:</label> 
            <select class="form-control" id="list"></select>
          </div>
        
          <div class="form-group field_SetPoints" style="display: none;"> 
            <label for="Wallet">錢包:</label> 
            <select class="form-control" id="Wallet"> 
              <option id="seamlessWallet">單一錢包</option>
              <option id="transferWallet">轉帳錢包</option>
            </select>
          </div>
        
          <div class="form-group field_SetPoints" style="display: none;"> 
            <label for="Points">點數:</label> 
            <input class="form-control" id="Points"> 
          </div>
    
          <button type="submit" id="submit" class="btn btn-primary">送出</button>
        </form>
      </div>
      <div class="col">
        <div>
          <span id="message"></span>
        </div>
      </div>
    </div> 
    
  </body>
          
  
  