<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../bower_components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../bower_components/fontawesome-free/css/all.min.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../bower_components/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-TW.js"></script>
    <script src="../controller/publicMethod.js"></script>
    <script src="../controller/betrecord_page.js"></script>
    <title>BetRecord</title>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <form>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px;"> 
              <div style="display: inline-block;">
                <label for="LoginUrl">後台登入網址：</label> 
              </div>
              <div style="display: inline-block;">
                <input class="form-control" style="width: 250px;" id="LoginUrl" aria-required="true" required>
              </div>
            </div>
          </div>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px;"> 
              <div style="display: inline-block;">
                <label for="betRecordUrl">投注紀錄網址：</label> 
              </div>
              <div style="display: inline-block;">
                <input class="form-control" style="width: 250px;" id="betRecordUrl" aria-required="true" required>
              </div>
            </div>
          </div>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px;"> 
              <div style="display: inline-block;">
                <label for="account">後台帳號：</label> 
              </div>
              <div style="display: inline-block;">
                <input class="form-control" style="width: 160px;" id="account" aria-required="true" required>
              </div>
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 15px;"> 
              <div style="display: inline-block;">
                <label for="password">後台密碼：</label> 
              </div>
              <div style="display: inline-block;" id="show_hide_password">
                <input type="password" class="form-control" style="display: inline-block; width: 160px;"  id="password" aria-required="true" required>
                <a href="" style="color:grey"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
            </div>             
            <div class="form-check" style="display: inline-block;">
              <input class="form-check-input" type="checkbox" value="" id="remember">
              <label class="form-check-label" for="remember">
                記住
              </label>
            </div>
          </div>

        </form>
        <hr>
        <form>          
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 20px;"> 
              <div style="display: inline-block;">
                <label for="AccountMembers">會員帳號：</label> 
              </div>
              <div style="display: inline-block;">
                <input class="form-control" style="width: 200px;" id="AccountMembers" aria-required="true" required>
              </div>
            </div> 
  
            <div class="form-group" style="display: inline-block;"> 
              <div style="display: inline-block;">
                <label for="BetRecordID">賽果編號：</label> 
              </div>
              <div style="display: inline-block;">
                <input class="form-control" style="width: 200px;" id="BetRecordID">
              </div>
            </div> 
          </div>
          
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 20px;"> 
              <div style="display: inline-block;">
                <label for="GameID">遊戲名稱：</label> 
              </div>
              <div style="display: inline-block;">
                <select class="form-control GameID" style="width: 200px;" id="GameID"> </select> 
              </div>  
            </div> 

            <div class="form-group" style="display: inline-block; margin-right: 20px;"> 
              <div style="display: inline-block;">
                <label for="betRecordScript">腳本：</label> 
              </div>
              <div style="display: inline-block;">
                <select class="form-control betRecordScript" style="width: 200px;" id="betRecordScript"> </select> 
              </div>  
            </div> 
          </div>

          <div class="form-group field_SetPoints" style="margin-right: 20px;"> 
            <div style="display: inline-block;">
              <label for="datetimepicker">創建時間：</label> 
            </div>
            <div style="display: inline-block;">
              <input type="text" id="datetimepicker">
            </div>
            ~
            <div style="display: inline-block;">
              <input type="text" id="datetimepicker2">
            </div>
          </div>

          <button type="submit" style="display: inline-block;" id="submit" class="btn btn-primary">送出</button>
          <button type="button"  id="clearLog" class="btn btn-warning">清除log</button>
        </form>
        <hr>
      </div>

    </div> 
    <div class="row">
      <div class="col">
        <span id="message"></span>
      </div>
    </div>
    <script type="text/javascript">
        $('#datetimepicker').datetimepicker({
            language: 'zh-TW', //語言
            autoclose: true, //選擇後自動關閉
            clearBtn: true,//清除按鈕
            format: "yyyy-mm-dd hh:ii:ss",//日期格式
            todayBtn : true,
            startView :2,
        });
        $('#datetimepicker2').datetimepicker({
            language: 'zh-TW', //語言
            autoclose: true, //選擇後自動關閉
            clearBtn: true,//清除按鈕
            format: "yyyy-mm-dd hh:ii:ss",//日期格式
            todayBtn : true,
            startView :2,
        });
    </script>
  </body>
          
  
  