<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../bower_components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../bower_components/fontawesome-free/css/all.min.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../bower_components/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-TW.js"></script>
    <script src="../controller/publicMethod.js"></script>
    <script src="../controller/betrecord_page.js"></script>
    <title>BetRecord</title>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <form>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px; width: 700px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="SignInURL">SignInURL：</label> 
              </div>
              <div style="display: inline-block; width: 500px;">
                <input class="form-control" placeholder="請輸入後台SignIn的URL(F12開Network查看)"id="SignInURL" aria-required="true" required>
              </div>
            </div>
          </div>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px; width: 700px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="GetBetRecordListURL">GetBetRecordListURL：</label> 
              </div>
              <div style="display: inline-block; width: 500px;">
                <input class="form-control" placeholder="請輸入後台投注紀錄GetBetRecordList的URL(F12開Network查看)" id="GetBetRecordListURL" aria-required="true" required>
              </div>
            </div>
          </div>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px; width: 700px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="GetDetailURL">GetDetailURL：</label> 
              </div>
              <div style="display: inline-block; width: 500px;">
                <input class="form-control" placeholder="請輸入後台投注紀錄GetDetailURL的URL(F12開Network查看)" id="GetDetailURL" aria-required="true" required>
              </div>
            </div>
          </div>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px; width: 700px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="IgnoreGameMode">IgnoreGameMode：</label> 
              </div>
              <div style="display: inline-block; width: 500px;">
                <input class="form-control" placeholder="請輸入GameMode編號(用,分隔)" id="IgnoreGameMode" aria-required="true" required>
              </div>
            </div>
          </div>
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 15px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="account">後台帳號：</label> 
              </div>
              <div style="display: inline-block;">
                <input class="form-control" style="width: 160px;" id="account" aria-required="true" required>
              </div>
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 15px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="password">後台密碼：</label> 
              </div>
              <div style="display: inline-block;" id="show_hide_password">
                <input type="password" class="form-control" style="display: inline-block; width: 160px;"  id="password" aria-required="true" required>
                <a href="" style="color:grey"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
            </div>             
            <div class="form-check" style="display: inline-block;">
              <input class="form-check-input" type="checkbox" value="" id="remember">
              <label class="form-check-label" for="remember">
                記住
              </label>
            </div>
          </div>

        </form>
        <hr>
        <form>          
          <div>
            <div class="form-group" style="display: inline-block; margin-right: 20px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="AccountMember">會員帳號：</label> 
              </div>
              <div style="display: inline-block;">
                <input class="form-control" style="width: 200px;" id="AccountMember" aria-required="true" required>
              </div>
            </div> 

            <div class="form-group" style="display: inline-block; margin-right: 20px;"> 
              <div style="display: inline-block;">
                <span class="text-danger" style="font-size: 20px;">*</span><label for="GameID">遊戲名稱：</label> 
              </div>
              <div style="display: inline-block;">
                <select class="form-control GameID" style="width: 200px;" id="GameID"> </select> 
              </div>  
            </div>
            
          </div>

          <div class="form-group field_SetPoints" style="margin-right: 20px;"> 
            <div style="display: inline-block;">
              <span class="text-danger" style="font-size: 20px;">*</span><label for="datetimepicker">創建時間：</label> 
            </div>
            <div style="display: inline-block;">
              <input type="text" id="datetimepicker">
            </div>
            ~
            <div style="display: inline-block;">
              <input type="text" id="datetimepicker2">
            </div>
          </div>
             
          <div class="form-group" style="display: inline-block; margin-right: 20px;"> 
            <div style="display: inline-block;">
              <span class="text-danger" style="font-size: 20px;">*</span><label for="betRecordScript">驗證腳本：</label> 
            </div>
            <div style="display: inline-block;">
              <select class="form-control betRecordScript" style="width: 200px;" id="betRecordScript"> </select> 
            </div>  
          </div> 

          <button type="submit" style="display: inline-block;" id="submit" class="btn btn-primary">送出</button>
        </form>
        <hr>
      </div>

    </div> 
    <div class="row">
      <div class="col">
        <span id="message"></span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm">
        賽果總數：<span id="total"></span>
      </div>
      <div class="col-sm">
        完成： <span id="success"></span>
      </div>
      <div class="col-sm">
        失敗(console會印賽果編號)：<span id="failed"></span>
      </div>
      <div class="col-sm">
        忽略：<span id="ignore"></span>
      </div>
    </div>

    <script type="text/javascript">
        $('#datetimepicker').datetimepicker({
            language: 'zh-TW', //語言
            autoclose: true, //選擇後自動關閉
            clearBtn: true,//清除按鈕
            format: "yyyy-mm-dd hh:ii:ss",//日期格式
            todayBtn : true,
            startView :2,
        });
        $('#datetimepicker2').datetimepicker({
            language: 'zh-TW', //語言
            autoclose: true, //選擇後自動關閉
            clearBtn: true,//清除按鈕
            format: "yyyy-mm-dd hh:ii:ss",//日期格式
            todayBtn : true,
            startView :2,
        });
    </script>
  </body>
          
  
  