<head>
    <title>Help</title>
</head>

<body>
    <div>
        <ul>
            <h3>使用前設定：</h3>
            <li>確認是否已安裝Redis</li>
            <li>Redis安裝完畢: 設定>路徑設定，填寫各環境的host(使用右上角選單切換環境)</li>
            <li>Redis安裝完畢: 設定>商戶密鑰，填寫各環境的agentKey(使用右上角選單切換環境)</li>
            <li>Redis安裝完畢: 設定>遊戲，填寫遊戲代號及名稱(不分環境)</li>
            <li>Redis安裝完畢: 設定>幣別，填寫幣別代號及名稱(不分環境)</li>
            <li>Redis安裝完畢: 設定>語系，填寫語系代號及名稱(不分環境)</li>
            
            <h3>API使用方法：</h3>
            <li>除了其他參數可空白，其他欄位均為必填</li>
            <li>語系、幣別、遊戲名稱會根據設定的值自動帶入</li>
            <li>商戶代碼會根據右上角顯示的環境，對應顯設定的值</li>
            <li>活動點選參加時，會以當前顯示的商戶代碼及幣別搜尋。如需重新搜尋請先點不參加再點參加</li>
            <li>其他參數都不用加""</li>
            <li>點送出後如果卡住就等一下後再繼續使用</li>

            <h3>掛機使用方法：</h3>
            <li>除了其他參數可空白，其他欄位均為必填</li>
            <li>語系、幣別、遊戲名稱會根據設定的值自動帶入</li>
            <li>商戶代碼會根據右上角顯示的環境，對應顯設定的值</li>
            <li>活動點選參加時，會以當前顯示的商戶代碼及幣別搜尋。如需重新搜尋請先點不參加再點參加</li>
            <li>其他參數都不用加""</li>
            <li>腳本需到 設定>掛機腳本 裡新增</li>
            <li>可在各環境使用掛機功能</li>
            <li>點送出後如果卡住就等一下後再繼續使用</li>

            <h3>新增掛機腳本：</h3>
            <li>滑鼠點擊的位置可先開啟最上方的demo，點擊遊戲畫面後console會列印位置複製貼上即可</li>
            <li>開始執行腳本時是從動作上到下無限循環執行，直到手動關閉</li>

            <h3>其他：</h3>
            <li>按 Ctrl+Shift+i 可開啟此app的developer tools</li>

        </ul>
    </div>
    
</body>

</html>