<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../bower_components/fontawesome-free/css/all.min.css">
    <script src="../bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="../controller/publicMethod.js"></script>
    <script src="../controller/script_setup_page.js"></script>
    <title>ScriptSetup</title>
    <script type="text/javascript">
      function filesInput(){
        $('#files').click();
      }
    </script>
</head>

<body>
  <ul class="nav" style="position: relative; float: left;">
    <li class="nav-item">
      <button type="button" class="btn btn-primary" style="margin: 10px" data-toggle="modal" data-target="#addModal"
        onclick='clickAddBtn()'>
        <span class="fas fa-plus"></span>新增腳本
      </button>
    </li>
    <li class="nav-item" style="margin-top: 10px;">
      <div class="alert alert-success" role="alert" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 0px; display: none;">
        <span id="message"></span>
      </div>
    </li>
  </ul>
  <ul class="nav justify-content-end" style="position: relative; ">
    <li class="nav-item">
      <form style="display:none"><input type="file" id="files" style="display:none"/></form>
      <button type="button" class="btn btn-primary" style="margin: 10px" id="import" onclick="filesInput()">
        Import
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary" style="margin: 10px" id="export">
        Export
      </button>
    </li>
  </ul>

  <div class="row" style="position: relative; width: 100%; margin: 0;">
    <table class="table table-hover" id="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">腳本名稱</th>
          <th scope="col">匯出</th>
          <th scope="col">編輯</th>
          <th scope="col">刪除</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">新增腳本</h5>
        </div>
        <form>
          <div class="modal-body">
              <div class="form-group"> 
                <div style="display: inline-block;"><label for="GameID">Demo:</label> </div>
                <div style="display: inline-block;"><select class="form-control GameID" id="DemoGameID"></select> </div>
                <div style="display: inline-block;"><button type="button" id="demoBtn" class="btn btn-primary">開啟</button></div>
              </div>
              <span class="text-danger" style="font-size: 12px; display: block; margin-bottom: 0px;">如無法開啟請先至QA環境確認是否有新增FCDEM的AgentKey!!!</span>
              <span class="text-primary" style="font-size: 12px; display: block; margin-bottom: 15px;">滑鼠點擊位置 請開啟上方Demo查看console並複製<br>注意:Demo的各設定會參考下方的數值</span>
              <hr class="my-2">
              <div class="form-group"> 
                <div style="display: inline-block;"><label><span class="text-danger" style="font-size: 20px;">*</span>指定前端版號：</label> </div>
                <div class="form-check" style="display: inline-block;">
                  <div style="display: inline-block;">
                    <input class="form-check-input" name="radioVersion" type="radio"  id="assign" >
                    <label class="form-check-label">
                      是
                    </label>
                  </div>
                  <div style="display: inline-block;">
                    <input id="version" style="width: 120px;" aria-required="true" disabled="disabled" required>
                  </div>
                </div>
                <div class="form-check" style="display: inline-block; margin-left: 10px;">
                  <input class="form-check-input" name="radioVersion" type="radio"  id="unassigned" checked>
                  <label class="form-check-label" >
                    否(使用當前版號)
                  </label>
                </div>
              </div>
              <div class="form-group"> 
                <div style="display: inline-block;"><label>使用預設遊戲視窗：</label> </div>
                <div class="form-check" style="display: inline-block;">
                  <div style="display: inline-block;">
                    <input class="form-check-input" name="setGameWindows" type="radio"  id="defaultGameWindows" checked>
                    <label class="form-check-label">
                      是
                    </label>
                  </div>
                  <div style="display: inline-block;">
                    <select class="form-control" id="gameWindows">
                      <option value="Portrait" selected="selected">直式</option>
                      <option value="Landscape">橫式</option>
                    </select>
                  </div>
                </div>
                <div class="form-check" style="display: inline-block; margin-left: 10px;">
                  <input class="form-check-input" name="setGameWindows" type="radio"  id="notDefaultGameWindows">
                  <label class="form-check-label" >
                    否
                  </label>
                </div>
              </div>
              <div>
                <div style="display: inline-block;">
                  <div class="form-group"><span><span class="text-danger" style="font-size: 20px;">*</span>遊戲寬度：</span><input aria-required="true" id="width"  required></div>
                  <div class="form-group"><span><span class="text-danger" style="font-size: 20px;">*</span>遊戲長度：</span><input aria-required="true" id="height" required></div>
                </div>
                <div style="display: inline-block;">
                  <button id="defaultWindowSizeUpdate" class="btn btn-outline-warning" type="button" onclick='clickdefaultWindowSizeUpdate()'>
                    <span class="fas fa-save"></span> 變更預設
                  </button>
                </div>
                <hr class="my-3">
                <div style="display: inline-block;">
                  <div class="form-group"><span><span class="text-danger" style="font-size: 20px;">*</span>腳本名稱：</span><input style="width: 250px;" placeholder="腳本新增後此名稱不可再修改!" aria-required="true" id="name" required></div>
                </div>
                <div style="float: right;">
                  <button id="addRowBtn" class="btn btn-dark" type="button" >
                    <span class="fas fa-plus"></span>新增動作
                  </button>
                </div>
              </div>
              <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;" id='id'>動作順序</th>
                        <th style="text-align: center; vertical-align: middle;" id='action'>動作</th>
                        <th style="text-align: center; vertical-align: middle;" id='actiontext'>內容</th>
                        <th style="text-align: center; vertical-align: middle;" id='delBtn'>刪除</th>
                    </tr>
                </thead>
                <tbody id="addTable">

                </tbody>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            <button type="submit" class="btn btn-primary" id='addBtn'>確定新增</button>
            <div><span id="addMessage"></span></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    async function clickAddBtn(){
      $("#addTable tr").remove(); 
      $("#name")[0].disabled = false; 
      $("#name")[0].value = ""; 
      $("#version")[0].value = ""; 
      $("#addMessage")[0].innerHTML = "";
      $(".modal-title")[0].innerHTML = "新增腳本";
      $("#addBtn")[0].innerHTML = "確定新增";
      $("#unassigned")[0].checked = true;
      $("#defaultGameWindows")[0].checked = true;
      $("#width")[0].value = $("#gameWindows")[0].value.split(",")[0];
      $("#height")[0].value = $("#gameWindows")[0].value.split(",")[1];
      $("#version")[0].disabled = true;
      $("#gameWindows")[0].disabled = false;
      let defaultWindowSize = await parent.psotLocalhostApi('/getList','defaultWindowSize');
      $("#width")[0].value = defaultWindowSize["returnObject"][$("#gameWindows")[0].value].split(",")[0];
      $("#height")[0].value = defaultWindowSize["returnObject"][$("#gameWindows")[0].value].split(",")[1];
    }

    async function clickdefaultWindowSizeUpdate(){
      let datas = {};
      datas['data'] = {};
      datas['tableName'] = "defaultWindowSize";
      datas['data'][$("#gameWindows")[0].value.replace(/\s*/g,"")] = ($("#width")[0].value+","+$("#height")[0].value).replace(/\s*/g,"")
      let response = await parent.psotLocalhostApi('/updateData',datas);
    }
    
  </script>
</body>

</html>